[submodule ".cppsm"]
	path = .cppsm
	url = https://github.com/cppsm/cppsm-boilerplate.git
	branch = master
[submodule "requires/data.cpp/v1"]
	path = requires/data.cpp/v1
	url = https://github.com/per-framework/data.cpp.git
	branch = v1
[submodule "requires/math3d.cpp/v1"]
	path = requires/math3d.cpp/v1
	url = https://github.com/polytypic/math3d.cpp.git
	branch = v1
